<body>
    <div style='text-align:center';>
    <% if @cat_name %>
    <h1> My name is <%= @cat_name %> </h1>
    <% end %>
    <img src='http://bit.ly/1eze8aE'style='border: medium dashed red;'>
  </div>
<body>
